Library/
Pictures/
../../.CFUserTextEncoding
../../.DS_Store
../../.bash_history
../../.cups/
../../.gitconfig
../../.nvm/
../../.vscode/
../../.zshrc.save
../../Applications/
../Visual Studio Code.app/
../../Documents/
../../Downloads/
../../Library/